<div *ngIf="recipe">
  <h4>{{ recipe.name }}</h4>
  <div class="recipeListImageContainer" [style]="getBackgroundImage(recipe)"></div>
  <div>
    <u>Zutaten:</u>
    <ul class="recipes">
      <li *ngFor="let ingredient of recipe['ingredients']">
        <span class="badge">{{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.name }}</span> 
      </li>
    </ul>
	<u>Zubereitung:</u>
	<ol class="recipes">
      <li *ngFor="let step of recipe['preparation']">
        <span class="badge">{{ step }}</span> 
      </li>
    </ol>
  </div>
  <button type="button" class="btn btn-primary" (click)="onClickAddToMenuplan(recipe)">+Menüplan</button>
  <button type="button" class="btn btn-primary" (click)="goBack()">Zurück</button>
</div>