<h3>Rezepte</h3>
<div class="row">
  <div class="col-lg-4 col-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Rezeptsuche ...">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Go!</button>
      </span>
    </div>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-lg-4 col-12"
       *ngFor="let recipe of recipes">
    <h6><b>{{recipe.name}}</b></h6>
	<a routerLink="/detail/{{recipe.id}}">
	  <div class="recipeListImageContainer" [style]="getBackgroundImage(recipe)"></div>
	</a>
	<br>
	<button type="button" class="btn btn-primary btn-sm" (click)="onClickAddToMenuplan(recipe)"><fa name="plus" style="color: white"></fa> Menüplan</button>
	<br>
	<br>
  </div>
</div>