.recipeListImageContainer {
	width:  260px;
	height: 174px;
	
	/*background-image is set by recipesComponent */
	background-size: cover;
	background-position: center center;
}

/* otherwise anchor is valid on full width an not only the image */
a{
    display:inline-block;
	vertical-align:middle;
}