<h3>Menüplan</h3>

<div *ngIf="menuplanService.selectedRecipes.length">
  <div>
    
    <div *ngFor='let recipe of menuplanService.selectedRecipes; let i = index'>
	  <h6><b>{{recipe.name}}</b></h6>
	  <!-- use + 1 to have nice id urls, gets substracted in .ts method -->
	  <a routerLink="/menuplan-detail/{{i + 1}}">
	    <div class="recipeListImageContainer" [style]="getBackgroundImage(recipe)"></div>
	  </a><!---->
	  <!--<fa *ngFor='let user of recipe.userMenuplan'
	    name="user-circle" size="3x"
		[ngStyle]="{'color': user.isEatingMeal ? 'blue' : 'grey'}"
		(click)="user.switchEatMeal()"></fa>
	  <fa name="trash-o" size="3x" style="color: black" (click)="menuplanService.delete(i)"></fa>-->
	  <span><button type="button" class="btn btn-basic buttonWidth" syle="width: 100px" (click)="recipe.toggleViewUserSelect()"><fa name="users"></fa></button></span>
	  <span><button type="button" class="btn btn-basic buttonWidth" (click)="menuplanService.moveRecipeUp(i)"><fa name="angle-up"></fa></button></span>
	  <span><button type="button" class="btn btn-basic buttonWidth" (click)="menuplanService.moveDown(i)"><fa name="angle-down"></fa></button></span>
	  <span><button type="button" class="btn btn-danger buttonWidth" (click)="menuplanService.delete(i)"><fa name="minus" style="color: white"></fa></button></span>

	  <br>
	  <div *ngIf="recipe.viewUserSelect">
	    <app-menuplan-users-select [userMenuplan]="recipe.userMenuplan"></app-menuplan-users-select>
	  </div>

	  <br>
	  <br>
	  </div>
  </div>
  <button type="button" class="btn btn-danger btn-md" (click)="menuplanService.clear()">Menüplan löschen</button>
  <button type="button" class="btn btn-basic btn-md" (click)="toogleViewUserSelectAll()">Alle Personen bearbeiten</button>
</div>

