<nav class="navbar navbar-default navbar-static-top navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="">EatBalanced</a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="!isNavbarCollapsed" class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
	    <!-- angular: use combination of routerLink="/recipes" (click)="isNavbarCollapsed = !isNavbarCollapsed" so that
		     navbar will collapse after click on link-->
        <li class="nav-item active"><a id="mainRecipes" class="nav-link" 
		  routerLink="/recipes" (click)="isNavbarCollapsed = !isNavbarCollapsed" href=#>Rezepte
		  <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a id="mainMenu" class="nav-link"
		  routerLink="/menuplan" (click)="isNavbarCollapsed = !isNavbarCollapsed" href=#>Menüplan
		  </a></li>
		<li class="nav-item"><a id="mainShoppingList" class="nav-link"
		  routerLink="/shoppinglist" (click)="isNavbarCollapsed = !isNavbarCollapsed" href=#>Einkaufsliste
		</a></li>
      </ul>
    </div>
  </div>
</nav>